<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Example App</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="styles/main.css" rel="stylesheet" />
</head>
<body>

{{{body}}}

</body>
</html>