<div class="wrapper">
  <header>
    <a class="toggle open" href="#nav">
      <i class="fas fa-times"></i>
      <i class="fas fa-bars is-hidden"></i>
    </a>
    <div class="logo">Logo</div>
    <nav id="nav" role="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="main-content">
    blah blah blah
  </section>
</div>
