// $main-blue: #383f51;
// $main-blue: #FE5F55;
// $main-blue: #0094c6;
// $main-blue: #72195A;
// $main-blue: #71A9F7;
$main-blue: #2A324B;
$main-white: #fff;
$main-black: #000;
$main-text: #666;
$light-grey: #eee;

html,
body,
ul {
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none;
}

header {
  align-items: center;
  background: $main-blue;
  position: fixed;
  width: 100%;
}

.logo {
  color: $main-white;
  font-family: 'Fanwood Text', serif;
  font-size: 2.5em;
  padding-left: 1em;

  a {
    color: $main-white;
    text-decoration: none;
  }
}

.wrapper {
  display: grid;
  grid-template-areas:
  'nav',
  'hero',
  'main-content';
  grid-template-columns: 1fr;
}

.hero {
  align-content: center;
  background: url('../images/background2.jpg');
  background-size: cover;
  display: grid;
  height: 80vh;

  h1 {
    color: $main-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
  }
}

.main-content {
  padding: 3em;

  p {
    color: $main-text;
    font-size: 1.5em;
  }
}

nav {
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;

  .nav-colophon {
    display: none;
  }

  .primary-nav {
    li {
      ul {
        display: none;
      }
    }
  }



  li {
    a {
      color: $main-white;
      text-decoration: none;
    }
  }
}

//tablet and bigger
@media only screen and (min-width: 768px) {
  .logo {
    font-size: 1em;
  }

  header {
    display: flex;
    flex-flow: row;
  }

  .menu {
    display: none;
  }

  .primary-nav {
    display: flex;
    list-style: none;

    li {
      margin-left: 20px;
      padding: 1em;
      position: relative;

      ul {
        background: $main-white;
        left: 0;
        list-style: none;
        position: absolute;
        top: 3em;

        li {
          padding: 20px 0;
          width: 13em;

          a {
            color: $main-blue;
          }
        }
      }

      &:hover {
        background: $main-white;

        a {
          color: $main-blue;
        }

        ul {
          display: block;
        }
      }
    }
  }
}

// tablet and smaller
@media only screen and (max-width: 768px) {
  header {
    background: $main-blue;
    display: block;
    height: 5em;
    position: fixed;
    width: 100%;

    .sidebar-overlay {
      background: #000;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: fixed;
      top: 5em;
      width: 100%;
      z-index: 2;
    }

    a {
      &.menu {
        color: $main-white;
        font-size: 2.5em;
        left: 20px;
        padding-left: 20px;
        position: fixed;
        text-align: center;
        text-decoration: none;
        top: 20px;
        transition: left .5s ease;

        &.fa-times {
          left: calc(100% - 60px);
        }
      }
    }
  }

  .logo {
    display: none;
  }

  nav {
    background: $main-white;
    bottom: 0;
    left: -20em;
    position: fixed;
    top: 5em;
    transform: translateX(-20em);
    transition: transform .3s ease-in-out;
    width: 20em;
    z-index: 10;

    .nav-colophon {
      bottom: 10px;
      left: 20px;
      position: absolute;
    }

    &.show-nav {
      transform: translateX(20em);
    }

    ul {
      &.primary-nav {
        list-style: none;

        li {
          font-size: 1.5em;
          line-height: 2em;
          position: relative;


          a {
            color: $main-black;
            display: block;
            padding-left: 20px;
            width: calc(100% - 20px);

            &:hover {
              background: $light-grey;
              // color: $main-blue;
              cursor: pointer;
            }
          }

          &::before {
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
            padding-right: 20px;
            position: absolute;
            right: 0;
          }

          &.open {
            ul {
              display: block;
            }

            &::before {
              color: $main-blue;
              content: '\f106';
              font-family: 'Font Awesome 5 Free';
              padding-right: 20px;
              position: absolute;
              right: 0;
            }
          }
        }
      }

      .secondary-nav {
        list-style: none;

        li {
          font-size: .8em;
          font-weight: normal;
          line-height: 2em;


          a {
            display: block;
            font-family: 'Century Gothic', serif;
            padding-left: 20px;
            width: calc(100% - 20px);

            &:hover {
              color: $main-blue;
            }
          }

          &::before {
            content: '';
          }
        }
      }
    }
  }
}
